<nav>

  <div class="nav__inner">
    <ul class="primary">
      <li><a href="{{ path('site_homepage') }}">Album 1</a></li>
      <li><a href="{{ path('detail_page') }}">Album 2</a></li>
    </ul>

    <ul class="secondary">
      <li><a href="#">Social</a></li>
      <li><a href="#">Social</a></li>
      <li><a href="#">Social</a></li>
    </ul>
  </div>



</nav>