<nav>

  <div class="nav__inner">
    <ul class="primary">
      <li><a id="street" href="{{ path('street_page') }}"></a></li>
      <li><a id="people" href="{{ path('people_page') }}"></a></li>
      <li><a id="landscapes" href="{{ path('landscapes_page') }}"></a></li>
    </ul>

    <ul class="secondary">
      <li><a href="#">Social</a></li>
      <li><a href="#">Social</a></li>
      <li><a href="#">Social</a></li>
    </ul>
  </div>



</nav>