<nav>

  <div class="nav__inner">
    <ul class="primary">
      <li><a href="{{ path('street_page') }}">Street</a></li>
      <li><a href="{{ path('landscapes_page') }}">Landscapes</a></li>
      <li><a href="{{ path('people_page') }}">People</a></li>
    </ul>

    <ul class="secondary">
      <li><a href="#">Social</a></li>
      <li><a href="#">Social</a></li>
      <li><a href="#">Social</a></li>
    </ul>
  </div>



</nav>