<nav>

  <div class="nav__inner">
      <ul class="primary">
        <li id="item_0"><div id="street"><a href="{{ path('street_page') }}"></a></div></li>
        <li id="item_1"><div id="landscapes"><a href="{{ path('landscapes_page') }}"></a></div></li>
        <li id="item_2"><div id="people"><a href="{{ path('people_page') }}"></a></div></li>
      </ul>
  </div>

</nav>