<nav>

  <div class="nav__inner">
    <ul class="primary">
      <li class="filler"><div></div></li>
      <li><div id="street"><a href="{{ path('street_page') }}">visit</a></div></li>
      <li><div id="landscapes"><a href="{{ path('landscapes_page') }}">visit</a></div></li>
      <li><div id="people"><a href="{{ path('people_page') }}">visit</a></div></li>
      <li class="filler"> <div></div> </li>
    </ul>

    <ul class="secondary">
      <li><a href="#">Social</a></li>
      <li><a href="#">Social</a></li>
      <li><a href="#">Social</a></li>
    </ul>
  </div>



</nav>