/**
 * Specials
 */
@mixin pseudo($content) {
  content: $content;
  display: block;
  position: absolute;
}

@mixin position-absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

@mixin inner-middle($max-width) {
  max-width: $max-width;
  margin: 0 auto;
}

@mixin links($link, $hover, $active, $visit) {
  a {
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
  }
}

@mixin screen-max($breakpoint) {

  @if map-has-key($breakpoints, $breakpoint) {
    @include max-screen(map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}
