
/**
 * Breakpoints
 */
$phone       : 400px;
$phone-wide  : 480px;
$phablet     : 560px;
$tablet-small: 640px;
$tablet      : 768px;
$tablet-wide : 1024px;
$desktop     : 1250px;
$desktop-wide: 1440px;

$breakpoints: (
  'phone': 600px
);


$mobile-nav-width: 200px;

/**
 * Colors
 */
$ruby:              #D8334A;
$ruby-shade:        #BF263C;
$grapefruit:        #ED5565;
$grapefruit-shade:  #DA4453;
$bittersweet:       #FC6E51;
$bittersweet-shade: #E9573F;
$sunflower:         #FFCE54;
$sunflower-shade:   #F6BB42;
$straw:             #E8CE4D;
$straw-shade:       #E0C341;
$grass:             #A0D468;
$grass-shade:       #8CC152;
$basil:             #2ECC71;
$basil-shade:       #2ABA66;
$mint:              #48CFAD;
$mint-shade:        #37BC9B;
$teal:              #A0CECB;
$teal-shade:        #7DB1B1;
$aqua:              #4FC1E9;
$aqua-shade:        #3BAFDA;
$blue-jeans:        #5D9CEC;
$blue-jeans-shade:  #4A89DC;
$lavender:          #AC92EC;
$lavender-shade:    #967ADC;
$plum:              #8067B7;
$plum-shade:        #6A50A7;
$pink-rose:         #EC87C0;
$pink-rose-shade:   #D770AD;
$beaver:            #BAA286;
$beaver-shade:      #AA8E69;
$chocolate:         #8E8271;
$chocolate-shade:   #7B7163;
$light-gray:        #F5F7FA;
$light-gray-shade:  #E6E9ED;
$gray:              #CCD1D9;
$gray-shade:        #AAB2BD;
$dark-gray:         #656D78;
$dark-gray-shade:   #434A54;
$coal:              #3C3B3D;
$coal-shade:        #323133;
