
{% extends 'SiteBundle:Default:base.html.twig' %}

{% block body %}

  <main class="photo-album" id="barba-wrapper">
    <div class="main__inner barba-container">
      <h1>Schiffen</h1>
      <img src="{{ asset('bundles/site/images/schiffen.jpg') }}" alt="up and down" />
    </div>
  </main>


{% endblock %}
