
{% extends 'SiteBundle:Default:base.html.twig' %}


{% block body %}



<main class="photo-album" id="barba-wrapper">
  <div class="main__inner barba-container">
    <h1>Headline</h1>

    <img src="{{ asset('bundles/site/images/updown.jpg') }}" alt="up and down" />


    <div id="images"></div>
  </div>
</main>

{% endblock %}
