
{% extends 'SiteBundle:Default:base.html.twig' %}

{% block body %}

  <main id="barba-wrapper">
    <div class="main__inner barba-container">
      <h1>Landschaft</h1>
    </div>
  </main>


{% endblock %}
