
svg#hamburger {
  cursor: pointer;
  fill: #7B7B7B;
}

svg rect { transition: all 0.3s; }

svg rect.transparent { fill: transparent; }

svg rect#top.active {
  transform: rotate(30deg);
}

svg rect#top    { transform-origin: 0 0;    }
svg rect#bottom { transform-origin: 0 100%; }


svg rect#bottom.active {
  transform: rotate(-28deg);
}

// DOM Relevance
.hamburger-container {
  width: 50px;
  height: 100%;
  position: fixed;
}