
svg#hamburger {
  cursor: pointer;
  fill: #7B7B7B;

  &:hover {
    fill: #3f3f3f;
  }
}

svg rect { transition: all 0.3s; }

svg rect#top    { transform-origin: 0 0;    }
svg rect#bottom { transform-origin: 0 100%; }

svg rect#middle.active { fill: transparent;  }
svg rect#bottom.active { transform: rotate(-28deg); }
svg rect#top.active { transform: rotate(30deg); }

// DOM Relevance
.hamburger-container {
  position: fixed;
  top: 0;
  left: 10px;
  width: 25px;
  height: 100%;
  z-index: 200;

  -js-display: flex;
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
}