
nav {
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0.0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  //transform: translateY(-100vh);


  &.active {
    //top: 0;
  }

  a {
    color: rgba($coal, 0.4);
    @include transition(all 0.6s);

    &:hover {
      color: $coal;
    }
  }

  img {
    max-height: 150px;
  }
}

.nav__inner {
  width: 100%;
  height: 100%;
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
}

ul.primary {
  list-style-type: none;
  @include display(flex);
  @include flex-direction(row);
  cursor: default !important;


  font-size: 2rem;

  li {
    width: 100vw;
    height: 100vh;
    @include flex-shrink(0);
  }
  
  li div {
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  }
  
  a {
    text-transform: none;
  }
}

ul.primary a {
  //display: block;
  //width: 100%;
  //height: 100%;
  //position: absolute;
  //top: 0;
}


ul.primary li div {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);

}

ul.primary li .title-image {
  width: 65%;
  height: 50%;
  background-size: cover;

  color: white;
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);

  border: 10px solid white;

}


ul.primary .filler {
  width: 30vw;
  height: 60vh;
}