
nav {
  width: 100vw;
  height: 100vh;
  background-color: white;
  //opacity: 0.95;
  //position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  //transform: translateY(-100vh);


  &.active {
    //top: 0;
  }

  a {
    color: rgba($coal, 0.4);
    @include transition(all 0.6s);

    &:hover {
      color: $coal;
    }
  }

  img {
    max-height: 150px;
  }
}

.nav__inner {
  width: 100%;
  height: 100%;
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
}

ul.primary {
  list-style-type: none;
  @include display(flex);
  @include flex-direction(row);


  font-size: 2rem;

  li {
    width: 100vw;
    height: 100vh;
    @include flex-shrink(0);
  }
  
  li div {
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  }
  
  a {
    text-transform: none;
  }
}

ul.secondary {
  padding: 1rem;
  list-style-type: none;
  @include display(flex);
  @include flex-direction(row);
  font-size: 1.5rem;
  display: none;

  li {
    padding: 1rem;
  }
}


ul.primary li .title-image {
  width: 100%;
  height: 100%;
  background-size: cover;

  color: white;
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);

  border: 10px solid white;

}


ul.primary .filler {
  width: 30vw;
  height: 60vh;
}