
nav {
  width: 100vw;
  height: 100vh;
  background-color: white;
  //opacity: 0.95;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);

  transform: translateY(-100vh);


  &.active {
    top: 0;
  }

  a {
    color: rgba($coal, 0.4);
    @include transition(all 0.6s);

    &:hover {
      color: $coal;
    }
  }
}

.nav__inner {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
}

ul.primary {
  list-style-type: none;
  @include display(flex);
  @include flex-direction(column);
  font-size: 2rem;

  li {
    padding: 1rem;
  }
}

ul.secondary {
  padding: 1rem;
  list-style-type: none;
  @include display(flex);
  @include flex-direction(row);
  font-size: 1.5rem;

  li {
    padding: 1rem;
  }
}