
nav {
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0.7;
  position: absolute;
  top: -100vh;
  left: 0;
  z-index: 100;
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);

  @include transition(all 0.6s);

  &.active {
    top: 0;
  }

  a {
    color: rgba($coal, 0.4);

    &:hover {
      color: $coal;
    }
  }
}

ul.primary {
  list-style-type: none;
  @include display(flex);
  @include flex-direction(column);
  font-size: 2rem;



}

ul.secondary {
  list-style-type: none;
  @include display(flex);
  @include flex-direction(row);
  font-size: 1.5rem;

  li {
    padding: 1rem;
  }
}