
main.photo-album {
  text-align: center;
  margin: 4rem;



  h1 {
    padding: 1rem;
    color: $coal;
  }

  img {
    margin: 2rem;
    border: 5px solid white;
    width: auto;
    height: 350px;
    box-shadow: 0 0 12px 6px rgba($coal, 0.05);
    @include transition(all 0.6s);

    @include max-screen($desktop) { height: 300px; }
    @include max-screen($tablet-wide) { height: 250px; }
    @include max-screen($tablet-small) { height: 200px; }

    &:hover {
      transform: scale(1.05);
    }
  }

}


main.photo-album #images {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);
}