
{% extends 'SiteBundle:Default:base.html.twig' %}


{% block body %}



  <main class="photo-album" id="barba-wrapper">
    <div class="street barba-container">
      <h1>Street</h1>

      <div id="images"></div>
    </div>
  </main>

{% endblock %}
