@font-face {
    font-family: 'Brandon Bold';
    font-weight: normal;
    src: url("Brandon_bld.otf") format("opentype");
}

@font-face {
    font-family: 'Brandon Bold Italic';
    font-weight: normal;
    src: url("Brandon_bld_it.otf") format("opentype");
}

@font-face {
    font-family: 'Brandon Light';
    font-weight: normal;
    src: url("Brandon_light.otf") format("opentype");
}

@font-face {
    font-family: 'Brandon Light Italic';
    font-weight: normal;
    src: url("Brandon_light_it.otf") format("opentype");
}

@font-face {
    font-family: 'Brandon Medium';
    font-weight: normal;
    src: url("Brandon_med.otf") format("opentype");
}

@font-face {
    font-family: 'Brandon Medium Italic';
    font-weight: normal;
    src: url("Brandon_med_it.otf") format("opentype");
}

@font-face {
    font-family: 'Brandon Regular';
    font-weight: normal;
    src: url("Brandon_reg.otf") format("opentype");
}

@font-face {
    font-family: 'Brandon Regular Italic';
    font-weight: normal;
    src: url("Brandon_reg_it.otf") format("opentype");
}

@font-face {
    font-family: 'Brandon Thin';
    font-weight: normal;
    src: url("Brandon_thin.otf") format("opentype");
}

@font-face {
    font-family: 'Brandon Thin Italic';
    font-weight: normal;
    src: url("Brandon_thin_it.otf") format("opentype");
}
